* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
}

footer {
  background-color: #04091E;
  color: #fff;
}

footer .l-footer-about, footer .l-footer-Newsletter, footer .l-footer-followMe {
  padding: 0 1rem;
}

footer .l-footer-about p, footer .l-footer-Newsletter p, footer .l-footer-followMe p {
  color: #777777;
}

footer .l-footer-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

footer .l-footer-buttonSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

footer .l-footer-buttonSubmit input {
  outline: none;
  padding: 0.5rem;
  width: 100%;
  margin: 1rem 0;
}

footer .l-footer-buttonSubmit .l-footer-buttonSubmit-arrow {
  display: inline-block;
  background-color: #8490ff;
  height: 2.8rem;
  width: 2.8rem;
}

footer .l-footer-buttonSubmit .l-footer-buttonSubmit-arrow i {
  padding: 1rem;
}

footer h3 {
  font-weight: bold;
  padding: 2rem 0;
}

footer .l-footer-socialIcons {
  padding: 1rem;
}

footer .l-footer-socialIcons i {
  padding: 0 0.3rem;
}

@media screen and (min-width: 600px) {
  .l-main-section-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .l-main-section-logo img {
    padding: 0 2rem;
  }
  .l-footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
  }
  .l-footer-about {
    width: 70%;
  }
}

@media screen and (min-width: 900px) {
  .l-footer-about, .l-footer-Newsletter, .l-footer-followMe {
    width: 33%;
  }
}

/* header */
.l-header-menuWrapper {
  background: white;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}

.l-header-logo {
  padding: 1rem;
  margin: 1rem 0;
}

/* Burger */
.l-header-burger {
  margin: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.l-header-burger-label {
  display: block;
  height: 3rem;
  width: 3rem;
  position: absolute;
  z-index: 9999;
  cursor: pointer;
}

.trigger {
  position: absolute;
  left: -150vw;
}

.l-header-burger-span {
  height: 2.5rem;
  width: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.l-header-burger-span span {
  height: 3px;
  width: 1.5rem;
  margin: 0.15rem;
  background: #777777;
}

.trigger:checked ~ .l-header-burger-span span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.trigger:checked ~ .l-header-burger-span span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -8px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.trigger:checked ~ .l-header-burger-span span:nth-child(2) {
  opacity: 0;
  position: relative;
}

/* Desktop */
@media screen and (min-width: 600px) {
  /* Menu */
  .l-header-menuWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-header-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-header-burger-span {
    display: none;
  }
}

/* Slider */
.l-header-sliderWrapper {
  background: linear-gradient(45deg, #8490ff, #62bdfc);
  height: 15rem;
  color: #fff;
  text-align: center;
}

.l-header-slider {
  padding: 4rem 0 0 0;
}

.l-header-ariane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-header-ariane p {
  padding: 0 1rem;
}

.l-main-section-about1, .l-main-section-about2, .l-main-section-expertness, .l-main-section-feedback-intro, .l-main-section-feedback-user, .l-main-section-index1, .l-main-section-index2 {
  max-width: 1140px;
  margin: 0 auto;
}

/* About */
.l-main-section-about-image, .l-main-section-index-image1, .l-main-section-index-image2 {
  padding: 5rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-main-section-about-image img, .l-main-section-index-image1 img, .l-main-section-index-image2 img {
  max-width: 100%;
}

.l-main-section-index-image1 img {
  max-width: 70%;
}

.l-main-section-about1, .l-main-section-about2, .l-main-section-index1, .l-main-section-index2, .l-main-section-index3, .l-main-section-index4, .l-main-section-index5 {
  padding: 0 1rem;
}

.l-main-section-about1 h2, .l-main-section-about1 h3, .l-main-section-about1 a, .l-main-section-about2 h2, .l-main-section-about2 h3, .l-main-section-about2 a, .l-main-section-index1 h2, .l-main-section-index1 h3, .l-main-section-index1 a, .l-main-section-index2 h2, .l-main-section-index2 h3, .l-main-section-index2 a, .l-main-section-index3 h2, .l-main-section-index3 h3, .l-main-section-index3 a, .l-main-section-index4 h2, .l-main-section-index4 h3, .l-main-section-index4 a, .l-main-section-index5 h2, .l-main-section-index5 h3, .l-main-section-index5 a {
  text-transform: uppercase;
}

.l-main-section-about-text, .l-main-section-index-text, .l-main-section-index-services, .l-main-section-index-projects, .l-main-section-index-blog {
  padding: 5rem 0;
}

.l-main-section-about-text h3, .l-main-section-about-text h2, .l-main-section-about-text p, .l-main-section-index-text h3, .l-main-section-index-text h2, .l-main-section-index-text p, .l-main-section-index-services h3, .l-main-section-index-services h2, .l-main-section-index-services p, .l-main-section-index-projects h3, .l-main-section-index-projects h2, .l-main-section-index-projects p, .l-main-section-index-blog h3, .l-main-section-index-blog h2, .l-main-section-index-blog p {
  padding: 1rem 0;
}

.l-main-section-about-text .l-main-section-about-btn, .l-main-section-index-text .l-main-section-about-btn, .l-main-section-index-services .l-main-section-about-btn, .l-main-section-index-projects .l-main-section-about-btn, .l-main-section-index-blog .l-main-section-about-btn {
  margin: 2rem 0 0 0;
}

.l-main-section-index-services, .l-main-section-index-projects, .l-main-section-index-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.l-main-section-index-services .l-main-section-index3-services, .l-main-section-index-services .l-main-section-index4-example, .l-main-section-index-projects .l-main-section-index3-services, .l-main-section-index-projects .l-main-section-index4-example, .l-main-section-index-blog .l-main-section-index3-services, .l-main-section-index-blog .l-main-section-index4-example {
  padding: 2rem 0;
}

.l-main-section-index-services .l-main-section-index5-posts, .l-main-section-index-projects .l-main-section-index5-posts, .l-main-section-index-blog .l-main-section-index5-posts {
  text-align: left;
  padding: 2rem 0;
}

.l-main-section-index-services .l-main-section-index5-posts img, .l-main-section-index-projects .l-main-section-index5-posts img, .l-main-section-index-blog .l-main-section-index5-posts img {
  width: 100%;
}

.l-main-section-index-services .l-main-section-index5-posts h4, .l-main-section-index-projects .l-main-section-index5-posts h4, .l-main-section-index-blog .l-main-section-index5-posts h4 {
  text-transform: uppercase;
}

.l-main-section-index-services .l-main-section-index5-posts .l-main-section-index5-posts-info, .l-main-section-index-projects .l-main-section-index5-posts .l-main-section-index5-posts-info, .l-main-section-index-blog .l-main-section-index5-posts .l-main-section-index5-posts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e6e1e1;
  margin-bottom: 2rem;
}

.l-main-section-index-services .l-main-section-index5-posts .l-main-section-index5-posts-info img, .l-main-section-index-projects .l-main-section-index5-posts .l-main-section-index5-posts-info img, .l-main-section-index-blog .l-main-section-index5-posts .l-main-section-index5-posts-info img {
  height: 2rem;
  width: 2rem;
}

.l-main-section-about2 {
  padding: 0 1rem;
}

.l-main-section-about2 p {
  padding: 2rem 0;
}

/* Expertness*/
.l-main-section-expertness {
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.l-main-section-expertness p {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.l-main-section-expertnessBar {
  border-radius: 1rem;
  background: #777777;
  opacity: 30%;
  width: 100%;
  height: 0.8rem;
}

.l-main-section-expertnessBar-inside {
  border-radius: 1rem;
  height: 0.8rem;
  background: linear-gradient(45deg, #8490ff, #62bdfc);
}

.AE {
  width: 85%;
}

.Photoshop {
  width: 90%;
}

.Illustrator {
  width: 70%;
}

.Sublime {
  width: 95%;
}

.Sketch {
  width: 85%;
}

/* Feedback */
.l-main-section-feedback {
  background: #f5f5f5a6;
}

.l-main-section-feedback-intro {
  padding: 8rem 0;
  text-align: center;
}

.l-main-section-feedback-intro h2 {
  padding: 2rem;
}

.l-main-section-feedback-user-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}

.l-main-section-feedback-user1, .l-main-section-feedback-user2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 1rem;
  padding: 1rem;
  background: white;
}

.l-main-section-feedback-user1 img, .l-main-section-feedback-user2 img {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.l-main-section-feedback-user1 span, .l-main-section-feedback-user2 span {
  display: inline-block;
  margin: 0.5rem 0;
  font-weight: bold;
}

.l-main-section-feedback-user2 {
  display: none;
}

/* Feedback */
.l-main-section-space {
  height: 8rem;
  background: #f5f5f5a6;
}

.l-main-section-logo {
  height: 15rem;
  background: linear-gradient(45deg, #8490ff, #62bdfc);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-main-section-logo .d-none {
  display: none;
}

/* Index page */
.l-main-aside-achievements {
  height: 15rem;
  background: linear-gradient(45deg, #8490ff, #62bdfc);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  height: auto;
  padding: 4rem 0;
}

.l-main-aside-achievements .l-main-aside-achievements-details {
  padding: 2rem 4rem;
  color: #fff;
}

@media screen and (min-width: 600px) {
  /* about */
  .l-main-section-about1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .l-main-section-about-image {
    padding: 5rem 0 0 0;
    width: 50%;
  }
  .l-main-section-about-image img {
    width: 100%;
  }
  .l-main-section-about-text {
    padding: 5rem 0;
    max-width: 50%;
  }
  .l-main-section-about-text h3, .l-main-section-about-text h2, .l-main-section-about-text p {
    padding: 1rem 0;
  }
  .l-main-section-about-text .l-main-section-about-btn {
    margin: 2rem 0 0 0;
  }
  /* expertness */
  .l-main-section-expertness-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-main-section-expertness-wrapper .l-main-section-expertness-wrapperGroup {
    width: 49%;
  }
  /* feedback */
  .l-main-section-feedback-user2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .l-main-section-logo .d-none {
    display: block;
  }
  .l-main-section-logo img {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 900px) {
  .l-main-section-logo img {
    padding: 0 2rem;
  }
}

.l-header-nav {
  position: fixed;
  left: -100vw;
  top: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  width: 80vw;
  height: 100vh;
  z-index: 2;
  background-color: #04091E;
  opacity: 0.95;
}

.l-header-nav ul {
  padding: 1rem;
  list-style-type: none;
}

.l-header-nav li {
  padding: 1rem 0;
}

.l-header-nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.l-header-nav .is-active {
  color: #8490ff;
}

#trigger:checked ~ .l-header-nav {
  left: 0;
}

@media screen and (min-width: 600px) {
  .l-header-nav {
    position: relative;
    left: 0vw;
    top: 0;
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
    width: 100%;
    height: auto;
    z-index: 0;
    opacity: 1;
    background: none;
  }
  .l-header-nav ul {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .l-header-nav li {
    padding: 1rem;
  }
  .l-header-nav li:hover {
    padding: 0 1rem 1rem 1rem;
  }
  .l-header-nav li:hover a {
    color: #8490ff;
  }
  .l-header-nav a {
    text-decoration: none;
    color: #777777;
    text-transform: uppercase;
  }
  .l-header-nav .is-active {
    color: #8490ff;
  }
}

.l-main-section-about-btn, .l-main-section-index-btn {
  background: linear-gradient(45deg, #8490ff, #62bdfc);
  width: 15rem;
  height: 3rem;
  padding: 0.7rem;
  text-align: center;
}

.l-main-section-about-btn a, .l-main-section-index-btn a {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  .l-main-section-about-btn:hover {
    background: #8490ff;
    cursor: pointer;
  }
  .l-footer-buttonSubmit-arrow {
    cursor: pointer;
  }
  .l-main-section-index-btn:hover {
    background: #8490ff;
    cursor: pointer;
  }
}
/*# sourceMappingURL=screen.css.map */