$font-family: 'Poppins', sans-serif;
$font-size: (
    h1: 48px,
    h2: 32px,
    h3: 24px,
    textMain: 16px,
);
$colors: (
    Btn1: #8490ff,
    Btn2: #62bdfc,
    Couleur3: #fff,
    txt: #777777,
    title: #222222,
    link: #8490ff,
    bannerBg1: #8490ff,
    bannerBg2: #62bdfc,
    standardBg: white,
    bannerBg3: #f5f5f5a6,
    darkBg: #04091E,
    gradientBg1: linear-gradient(45deg, #8490ff, #62bdfc),
);