/* header */
.l-header-menuWrapper {
    background: map-get($colors, standardBg);
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: $max-width;
    margin: 0 auto;
}
.l-header-logo {
    padding: 1rem;
    margin: 1rem 0;
}

/* Burger */
.l-header-burger {
    margin: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}
.l-header-burger-label {
    display: block;
    height: 3rem;
    width: 3rem;
    position: absolute;
    z-index: 9999;
    cursor: pointer;
}

.trigger {
    position: absolute;
    left: -150vw;
}
.l-header-burger-span {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

    span {
        height: 3px;
        width: 1.5rem;
        margin: 0.15rem;
        background: map-get($colors, txt);
    }
    .trigger:checked ~ & span:first-child {
        transform: rotate(45deg);
        top: 8px;
        position: relative;
        transition: 1s;
    }
    .trigger:checked ~ & span:last-child {
        transform: rotate(-45deg);
        top: -8px;
        position: relative;
        transition: 1s;
    }
    .trigger:checked ~ & span:nth-child(2) {
        opacity: 0;
        position: relative;
    }
    :hover ~ & span {
        background: map-get($colors, backgroundLightSecondary);
    }
}

/* Menu */
.l-header-nav {
    display: none;
}

/* Desktop */
@media screen and (min-width: 600px) {
    .l-header-menuWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .l-header-burger {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    .l-header-burger-span {
        display: none;
    }

    .l-header-nav {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style-type: none;
        }

        li {
            padding: 1rem;
        }

        a {
            text-transform: uppercase;
            text-decoration: none;
            color: black;
        }

        li:hover {
            a {
                color: map-get($colors, Btn2);
                font-weight: bolder;
            }
        }

        li:hover::before {
            content: "";
            display: block;
            border-bottom: 1px solid map-get($colors, Btn2);
            width: auto;
            margin-bottom: -1.5rem;
        }

        .is-active{
            color: map-get($colors, Btn2);
        }
    }      
}

/* Slider */
.l-header-sliderWrapper {
    background: map-get($colors, gradientBg1);
    height: 15rem;
    color: map-get($colors, Couleur3);
    text-align: center;
}
.l-header-slider {
    padding: 4rem 0 0 0; 
}
.l-header-ariane {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    p {
        padding: 0 1rem;
    }
}

