.l-header-nav {
    position: fixed;
    left: -100vw;
    top: 0;
    transition-duration: 1s;
    width: 80vw;
    height: 100vh;
    z-index: 2;
    background-color: map-get($colors, darkBg);
    opacity: 0.95;

    ul {
        padding: 1rem;
        list-style-type: none;
    }

    li {
        padding: 1rem 0;
    }

    a {
        text-decoration: none;
        color: map-get($colors, Couleur3);
        text-transform: uppercase;
    }

    .is-active {
        color: map-get($colors, link);
    }
}

#trigger:checked ~ .l-header-nav {
    left: 0;
}

@media screen and (min-width:600px) {
    .l-header-nav {
        position: relative;
        left: 0vw;
        top: 0;
        transition-duration: 0s;
        width: 100%;
        height: auto;
        z-index: 0;
        opacity: 1;
        background: none;
    
        ul {
            padding: 1rem;
            display: flex;
            justify-content: flex-end;
        }
    
        li {
            padding: 1rem;
        }

        li:hover {
            padding: 0 1rem 1rem 1rem;
            a {
                color: map-get($colors, link);    
            }
        }
    
        a {
            text-decoration: none;
            color: map-get($colors, txt);
            text-transform: uppercase;
        }
    
        .is-active {
            color: map-get($colors, link);
        }
    }
}